* {
  box-sizing: border-box;
}

.body {
  min-width: 1274px;
}

.scroll {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: black;
}
.mainSectionPage {
  width: 100vw;
  height: 100vh;
  min-height: 700px;
  background-color: lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1274px;
  min-width: 1274px;
  height: 900px;
  background-color: white;
  transform: scale(.7);
  box-shadow: 1px 1px 3px 2px #C7C7C7;
}

.picture1,
.picture2,
.picture3 {
  width: 425px;
  height: 900px;

  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture2 {
  left: 425px;
  background-image: url(iphone6.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  transform: scale(.8);
}

.picture3 {
  left: 850px;
  /*justify-content: flex-start;*/
  /*padding-top: 100px;*/
}

p {
  width: 375px;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  margin-top: 10px;
}

img {
  /*box-shadow: 1px 1px 17px 3px #D6D6D6;*/
  border-radius: 5px 5px 5px 5px;
  border: 1px solid;
  border-color: black;
}

h1, h2 {
  width: 300px;
  display: block;
}

h1 {
  font-family: T-Star Pro;
  font-weight: regular;
  font-size: 21px;
  margin-top: 10px;
  line-height: 24px;
}

h2 {
  font-family: T-Star Pro;
  font-weight: bold;
  font-size: 34px;
  margin-top: 30px;
  line-height: 35px;
}

/*#c1 {
  background-image: url(bg2.png);
}

#c2 {
  background-image: url(bg3.png);
}*/

#c2 > .picture3 {
  background-image: url(iphone6.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(.8);


}

/*#c3 {
  background-image: url(bg4.png);
}

#c4 {
  background-image: url(bg5.png);
}

#c5 {
  background-image: url(bg6.png);
}*/

@media screen and (min-width: 1600px) {
  .content {
    transform: scale(1.2);
  }
}
